@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h2 class="display-4">Please, select front-end implementation</h2>

    <div class="container">
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RawJs">Raw JavaScript</a>
    </div>
</div>
