@model RawJsImplementationViewModel

@{
    ViewData["Title"] = "Raw JS";
}

@section Styles {
    <link rel="stylesheet" href="~/css/app/rawJs/styles.css" />
}

@section Scripts {
    <script src="~/js/app/rawJs/main.js" type="module"></script>
}

<input type="hidden" id="gConfig" value="@Model.Config">
<input type="hidden" id="gSessionId" value="@Model.SessionId" />

<div class="text-center">
    <div class="container">
        <div id="divGameControls" class="card border-dark m-sm-1 mb-1">
            <h5 class="card-title">Controls:</h5>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-group">
                        <button class="btn btn-primary m-1" id="btnRestart">(Re)Start</button>
                        <button class="btn btn-primary m-1" id="btnSave">Save</button>
                        <button class="btn btn-primary m-1" id="btnLoad">Load</button>
                        <button class="btn btn-primary m-1" id="btnExit">Exit</button>
                    </div>
                    <div class="form-group" id="btnGroupLocales">
                        <button class="btn m-1" data-locale="ru-ru">Ru</button>
                        <button class="btn m-1" data-locale="en-us">En</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="divGameText" class="card border-dark m-sm-1 mb-1">
            <h5 class="card-title">Game text:</h5>
            <div class="card-body text-justify">
            </div>
        </div>

        <div id="divGameImage" class="card border-dark m-sm-1 mb-1">
            <h5 class="card-title">Game image:</h5>
            <div class="card-body">
                <img class="game-image card-img-bottom" /><br />
                <a class="card-link" href="#">Source</a>
            </div>
        </div>

        <div id="divGameVars" class="card border-dark m-sm-1 mb-1">
            <h5 class="card-title">Game vars:</h5>
            <div class="card-body">
                <table class="table table-sm table-striped text-left">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="divGameTransitions" class="card border-dark m-sm-1 mb-1">
            <h5 class="card-title">Game transitions:</h5>
            <div class="card-body text-justify">
                <div class="list-group">
                </div>
            </div>
        </div>

        <div id="divStatusBar" class="card border-dark m-sm-1 mb-1">
            <h5 class="card-title">Status bar:</h5>
            <div class="card-body text-justify">
                <label>OK</label>
            </div>
        </div>
    </div>
</div>

